html {
    overflow-y: scroll;
}

/* Forces a scrollbar when the viewport is larger than the websites content - CSS3 */

body {
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #919191;
    background-color: #232323;
}

.clear:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    line-height: 0;
}

.clear {
    display: block;
    clear: both;
}

a {
    outline: none;
    text-decoration: none;
}

div.wrapper {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
}

.row1, .row1 a {
    color: #C0BAB6;
    background-color: #333333;
}

.row2 {
    color: #979797;
    background-color: #FFFFFF;
}

.row2 a {
    color: #FF9900;
    background-color: #FFFFFF;
}

*{margin: 0; padding: 0;}
body{
    background-color: black;
}
.container
{
	width: 100%;
	height: 100%;
}
.trans
{
	transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	-webkit-transition: all 1s ease;
}
.top
{
	display: flex;
	width: 80vw;
	height: 82vh;
	/* margin-top: 5vh; */
	margin-left: auto;
	margin-right: auto;
	/* margin-bottom: 5vh; */
}
.top ul
{
    
	list-style: none;
	width: 100%;
	height: 100%;
	z-index: 1;
	box-sizing: border-box;
}
.top ul li
{
	position: relative;
	float: left;
	width: 33%;
	height: 33%;
    overflow: hidden;
    
}

.top ul li::before
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	content: '';
	color: white;
	opacity: 0.4;
	text-align: center;
	box-sizing: border-box;
	pointer-events: none;
	transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
}
.top ul li:hover::before
{
	opacity: 0;
	background-color: rgba(0,0,0,0.90);
}
.top ul li img
{
	width: 100%;
	height: auto;
    overflow: hidden;
    
}
.lightbox
{
	position: fixed;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background-color: #000000bf;
	z-index: 999;
	opacity: 0;
	pointer-events: none;
}
.lightbox img
{
	max-width: 90%;
	max-height: 80%;
	position: relative;
	top: -100%;
	/* Transition */
	transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	-webkit-transition: all 1s ease;
}
.lightbox:target
{
	outline: none;
	top: 0;
	opacity: 1;
	pointer-events: auto;
	transition: all 1.2s ease;
	-moz-transition: all 1.2s ease;
	-ms-transition: all 1.2s ease;
	-o-transition: all 1.2s ease;
	-webkit-transition: all 1.2s ease;
}
.lightbox:target img
{
	top: 0;
	top: 50%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}

/* #header {
    padding: 20px 0;
}

#header #hgroup {
    float: left;
    margin: 0 0 20px 0;
}

#header #hgroup h1, #header #hgroup h2 {
    font-weight: normal;
    font-style: normal;
    text-transform: none;
}

#header #hgroup h1 {
    font-size: 36px;
}

#header #hgroup h2 {
    font-size: 13px;
}

#header nav {
    display: block;
    float: right;
    margin: 10px 0 0 0;
    padding: 20px 0;
    color: #C0BAB6;
    background-color: #232323;
}

#header nav ul {
    padding: 0 20px;
}

#header nav li {
    display: inline;
    margin-right: 25px;
    text-transform: uppercase;
}

#header nav li.last {
    margin-right: 0;
}

#header nav li a {
    color: #C0BAB6;
    background-color: #232323;
}

#header nav li a:hover {
    color: #FF9900;
    background-color: #232323;
} */